@import '../../common/css/iconfont.scss';
@import '../../common/css/normalize.scss';
@import '../../common/css/variable.scss';
#reactMusicPlayer,
.reactMusicPlayer{
  height: 100%;
  background: #000;

  .music_box{
    z-index: 1;
    position: relative;
    padding-top: 1.33rem;
    height: 100%;
    width: 100%;
    .toolBtnList{
      height: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #fff;
    }

  }
  
}
