@import '../../common/css/iconfont.scss';
@import '../../common/css/normalize.scss';
@import '../../common/css/variable.scss';
.mrtj{
  height: 100%;
  .header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 1.33rem;
    background: $headerBc;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    .icon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      color: #fff;
      padding: 10px;
    }
    .header-name{
      text-align: center;
      @include font-dpr(18px);
      color: #fff;
    }
  }
  .musicList{
    height: 100%;
    margin-top: 1.33rem;
    overflow-y: auto;
  }
}
