@import '../../common/css/normalize.scss';
@import '../../common/css/variable.scss';
.find{
  height: 100%;
  .findTabs{
    height: 100%;
    line-height: 1.07rem;
    background: #fff;
    .ant-tabs-nav-wrap{
      background: $headerBc;
      .ant-tabs-nav{
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        .ant-tabs-tab{
          height: 1.07rem;
          width: 50%;
          @include font-dpr(14px);
          text-align: center;
          color:#fff;
          margin: 0
        }
        .ant-tabs-ink-bar{
          height: .09rem;
          border-radius: .27rem;
          width: .6rem !important;
          left: 20%;
          margin-bottom: .13rem;
          background-color: #fff;
          // transform: translateX(-23%) !important;
        }
      }
    }
    .mainList{
      height: 2.13rem;
      border-bottom:1px solid #555;
      li{
        position: relative;
        float: left;
        width: 25%;
        height: 100%;
        .icoWrapper{
          margin: auto;
          width: 70%;
          height: 1.6rem;
          display: flex;
          justify-content: center;
          align-items: center;
          .ico{
            display: block;
            width: 1.07rem;
            height: 1.07rem;
            background: $headerBc;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            line-height: 1.07rem;
          }
        }
        .tag_name{
          width: 100%;
          height: .53rem;
          line-height: .4rem;
          text-align: center;
          color: #333;
          @include font-dpr(14px);
        }
      }
    }
  }
}
